.form {
    background-color: #ffffff;
    border: solid 2px #e7e7e7;
}

.form__fieldset {
    border: none;
    padding: 20px;
}

.form__legend {
    font-size: 18px;
    font-weight: bolder;
    width: 100%;
    padding: 20px;
    border-bottom: solid 1.5px #e7e7e7;
    margin: 0px;
}

.form__newTask {
    border: solid 1.5px #e7e7e7;
    padding: 10px;
    margin-right: 15px;
    flex-grow: 1;
}

.form__fieldNewTask {
    display: flex;
}

@media (max-width: 767px) {
    .form__newTask {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .form__fieldNewTask {
        flex-direction: column;
    }
}

.form__button {
    border: none;
    color: #c1ffff;
    border: solid 1px;
    background-color: #007482e8;
    padding: 10px;
}

.form__button:active {
    border: solid 1px #000000;
}

.form__button:hover {
    cursor: pointer;
}