.section__tasks {
    display: flex;
    flex-direction: column;
    padding: 0px;
}

.section {
    background-color: white;
    border: solid 1px #e7e7e7;
    margin-top: 10px;
}

.section__task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: 10px;
    margin: 0px 20px;
    border-bottom: solid 1px #e7e7e7;
}

.section__task--done {
    text-decoration: line-through;
}

.section__head {
    border-bottom: solid 1px #e7e7e7;
    margin: 0px 0px 30px;
    padding: 20px;
}

.section__buttonStatus {
    padding: 15px;
    background-color: #1b7a20;
    border: none;
}

.section__buttonRemove {
    order: 1;
    padding: 15px;
    background-color: #eb283a;
    border: none;
}

.section__content {
    text-align: center;
    padding: 0px 20px;
    flex-grow: 1;
}